<div class="background">
	<div class="form" >
	  <h2 class="title">{{title}}<span class="close" (click)="onCancel()">X</span></h2>
	  <form class="form-vertical" (ngSubmit)="onSubmit()" [formGroup]="form">
			
	    <div *ngFor="let field of fields" class="form-row">
	      <app-field [field]="field" [form]="form"></app-field>
	    </div>
	
		<p>
	    <div class="form-row">
	      <button type="submit" [disabled]="!form.valid || !formChanged">Save</button> &nbsp;
	      <button type="button" (click)="onCancel()">Cancel</button> &nbsp;
	    </div>
	  </form>
	
	  <div *ngIf="payLoad" class="form-row">
	    <strong>Saved the following values</strong><br>{{payLoad}}
	  </div>
	</div>
</div>