html, body{
	height:100%;
	margin:0;
}
.title{
	background:gray;
	color:white;
	margin-top:0;
	margin-bottom:0px;
}
.tabbar{
	border-bottom:1px solid black;
	border-top:1px solid gray;
	padding:0px;
	margin:0px;
	height:39px;
}
/* Style the buttons that are used to open the tab content */
.tab{
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 16px;
  border-right: 1px solid gray;
  transition: 0.3s;
  list-style-type:none;
}

/* Change background color of buttons on hover */
.tab:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab.active {
  background-color: #ccc;
}
.icon-small{
	width:20px;
	height:20px;
	padding-left:5px;
	padding-right:5px;
}

.background{
	background:grey;
  	opacity: 0.5;
  	filter: alpha(opacity=20); /* For IE8 and earlier */
	position: absolute;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
}
.group{
	width:450px;
  	display:none;
}
.group.active{
	display:block;
	overflow-y:scroll;
	overflow-x:auto;
}
.form{
	background:white;
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
	border: 1px black solid;
	padding:0px;
	margin:0px;
}
.form-row{
	padding: 3px;
}
.close{
	float:right;
	color:red;
	font-weight:bold;
	text-align:right;
	cursor:pointer;
}