.list{
	padding-left:5px;
	padding-top:10px;
	width:25%;
	border:1px solid black;
	float:left;
}
.list .title{
	background:gray;
	color:white;
	margin-top:0;
	margin-bottom:5px;
}
.list-item{
	padding-bottom:5px;
}
.list-item:hover{
	cursor:pointer;
	background:rgb(161, 238, 240);
}
.link{
	text-decoration: underline;
	/*color: blue;*/
}
.icon-small{
	width:15px;
	heigh:15px;
	padding-right:5px;
}
.list-item .delete{
	float:right;
	font-weight: bold;
	visibility: hidden;
}
.list-item:hover .delete{
	visibility: visible;
}