<div class="background">
	<div class="form" >
	  <h2 class="title">{{title}}</h2>
	  <form class="form-vertical" (ngSubmit)="onSubmit()" [formGroup]="form">
			
	    <div *ngFor="let field of fields" class="form-row">
	      <app-field [field]="field" [form]="form"></app-field>
	    </div>
	
		<p>
	    <div class="form-row">
	      <button type="submit" [disabled]="!form.valid">Save</button> &nbsp;
	      <button type="button " (click)="onGetEntityDefs()">Get EntityDefs</button> &nbsp;
	      <button type="button " (click)="onGetEntity()">Get Entity</button>
	    </div>
	  </form>
	
	  <div *ngIf="payLoad" class="form-row">
	    <strong>Saved the following values</strong><br>{{payLoad}}
	  </div>
	</div>
</div>