<div [formGroup]="form">
  <label [attr.for]="property.key">{{property.label}}</label>

  <div [ngSwitch]="property.controlType">

    <input *ngSwitchCase="'textbox'" [formControlName]="property.key"
            [id]="property.key" [type]="property.type">

    <select [id]="property.key" *ngSwitchCase="'dropdown'" [formControlName]="property.key">
      <option *ngFor="let opt of property.options" [value]="opt.key">{{opt.value}}</option>
    </select>

  </div> 

  <div class="errorMessage" *ngIf="!isValid">{{property.label}} is required</div>
</div>